.bp-title{
  color: var(--color-text-light);
  text-align:center;
  font-weight:800;
  letter-spacing:.5px;
  font-size:26px;
  margin:30px 0 25px;
}

.bp-wrap{
  max-width: 400px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin: 0 auto;
  padding: 0;
}

.bp-stack{
  margin: 6px auto 6px;
}

.bp-card{
  border: none;
  min-width: 280px;
}

.bp-card--top{
  background:#fff;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border:1px solid #e9eef1;
  border-bottom: none;
  border-radius: 25px;
  padding:16px 10px;
  padding-bottom: 12px;
}
.bp-card--bottom{
  background:#fff;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border:1px solid #e9eef1;
  border-top: 2px dashed #e7ecef;
  border-radius: 25px;
  padding:16px 10px;
  padding: 14px 18px 18px;
}

.bp-card--bottom {
  margin-top: -2px;
}

.bp-logo {
  display: flex;
  justify-content: center;
}

.bp-logo span{
  color: var(--color-teal);
  line-height: 70px;
}


.bp-logo .brand-logo {
  width: 60px;
  height: 60px;
}

.bp-head{
  display:flex;
  align-items:flex-start;
  text-align: center; 
  gap:2px;
  align-items: stretch;
  align-content: stretch;
}

.bp-airport{ font-size:22px; font-weight:500; letter-spacing:.5px;}
.bp-city{ font-size:14px; color: var(--color-text-medium);}
.bp-time{ font-size:34px; font-weight:600; align-items: center; line: height 100px; }

.bp-col-left {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}


.bp-col-right  {
  flex-basis: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bp-col-left,
.bp-col-right {
  display: flex;
  flex-direction: column;
}

.bp-time {
  margin-top: auto;
}

.bp-col-mid{
  flex-basis: 20%;
  text-align:center;
  align-self: center;
  min-width: 120px;
}
.bp-flightno{ font-size:12px; color:var(--color-text-medium); }
.bp-plane{ font-size:30px; margin:3px 0; color:var(--color-teal-light); }
.bp-duration{ font-size:12px; color:var(--color-text-medium); }


.bp-hr{
  border:0;
  border-top:2px dashed var(--color-gray-medium);
  margin:8px 10px 15px;
}

.bp-two-cols{
  display:grid;
  grid-template-columns: 2fr 1fr;
  column-gap:14px;
  row-gap:10px;
  padding: 0 5px;
  margin-bottom: 5px;
}

.bp-col{ text-align:left; }
.bp-col--right{ text-align:right; }
.bp-label{
  font-size:14px;
  font-weight:300;
  color: var(--color-text-medium);
}
.bp-value{
  font-size:15px;
  font-weight:600;
  text-transform: uppercase;
}

.bp-value.bp-seat{
  font-size:26px;
}

.bp-barcode{
  width:100%;
  height:auto;
  display:block;
}

.bp-cta{
  display:flex;
  flex-direction:column;
  gap: 20px;
  align-items:center;
  justify-content:center;
  margin: 35px auto 30px;
}
.bp-cta > *{ 
  width:min(420px, 90%); 
}

@media (max-width:991px) {
.mapa-confirmation {
    opacity: 0;
  }
}

.mapa-confirmation {
  overflow: hidden;
}


@media (min-width:992px) {
.bp-cta {
  gap: 20px;
  margin: 40px auto 10px;
}
}

