.map-page {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-layout {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.map-container {
  flex: 1;
  background: #ffffff29;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  overflow: hidden;
}

.connections-list {
  flex: 1;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 25px;
  width: 100%;
  max-width: 350px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  animation: fadeIn 0.5s ease;
}

.connections-list h2 {
  color:var(--color-teal);
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.connections-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.connections-list li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.connections-list li .icon {
  margin-right: 5px;
}
.connections-list li:hover {
  color: var(--color-teal);
  transform: translateX(5px);
}

.connections-list li:last-child {
  border-bottom: none;
}

.placeholder {
  text-align: center;
  font-size: 18px;
  color: #fff;
  padding: 30px 10px;
  opacity: 0.7!important;
}

.placeholder p {
   color: #444;
}

svg path:focus {
  outline: none !important;
  stroke: #777 !important;
}

svg path:active {
  outline: none !important;
  stroke: #777 !important;
}

svg *:focus {
  outline: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 992px) {
  .map-layout {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .connections-list {
    order: 1;
  }

  .map-container {
    order: 2;
    max-width: 720px;
  }
}

@media (max-width: 768px) {

.map-layout {
  padding: 0 10px;
}
  .map-page {
    padding-bottom: 90px;
  }

  .map-container {
    border-radius: 15px;
    margin: 0 0px;
  }

  .connections-list {
    margin: 20px 12px;
    padding: 15px;
  }

  .connections-list h2 {
    font-size: 1.1rem;
  }

  .connections-list li {
    font-size: 0.95rem;
  }
}
