.rules-container {
  font-family: var(--font-main);
  color: var(--color-text-dark);
  text-align: left;
  line-height: 1.6;
  max-height: 75vh;
  max-width: 1000px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-teal-light) transparent;
  padding: 20px;
}

.rules-container h2 {
  font-size: 1.05rem;
  color: var(--color-teal);
  margin-top: 15px;
  margin-bottom: 8px;
  font-weight: 600;
}

.rules-container p {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: justify;
}

.rules-container ul {
  margin: 5px 0 10px 20px;
  padding-left: 10px;
}

.rules-container li {
  font-size: 0.93rem;
  color: var(--color-text-dark);
  margin-bottom: 5px;
  list-style-type: disc;
}

.rules-btn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  color: #fff!important;
}

@media (max-width: 480px) {
  .rules-container {
    max-height: none;
  }
}
