.rules-container {
  font-family: var(--font-main);
  color: var(--color-text-dark);
  text-align: left;
  line-height: 1.6;
  max-width: 1000px;
  padding: 20px 28px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.rules-container h2 {
  font-size: 1.05rem;
  color: var(--color-teal);
  margin-top: 15px;
  margin-bottom: 8px;
  font-weight: 600;
}

.rules-container p {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: justify;
}

.rules-container ul {
  margin: 5px 0 10px 20px;
  padding-left: 10px;
}

.rules-container li {
  font-size: 0.93rem;
  color: var(--color-text-dark);
  margin-bottom: 5px;
  list-style-type: disc;
}

.rules-btn {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  width: 90%;
}

@media (max-width: 480px) {
  .rules-container {
    padding: 16px;
  }
}
