.rules-container {
  font-family: var(--font-main);
  color: var(--color-text-dark);
  text-align: left;
  line-height: 1.6;
  max-width: 1000px;
  padding: 20px 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.rules-container h2 {
  font-size: 18px;
  color: var(--color-teal);
  margin-top: 15px;
  margin-bottom: 8px;
  font-weight: 600;
}

.rules-container p {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
}

.rules-container ul {
  margin: 5px 0 5px 15px;
  padding-left: 3px;
}

.rules-container li {
  font-size: 16px;
  color: var(--color-text-dark);
  margin-bottom: 5px;
  list-style-type: disc;
}

.rules-btn {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  margin-bottom: 30px;
  width: 90%;
}

.rules-wrap {
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.center-vertical {
  padding: 0px!important;
}
