.lower-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 12px;
  /* bottom: env(safe-area-inset-bottom, 0); */
  /* padding-bottom: env(safe-area-inset-bottom, 0); */
  
  z-index: 98;
  height: 60px;
  background: var(--color-teal-dark);
  color: var(--color-cream);

  display: flex;
  justify-content: space-around;
  align-items: center;

  transform: translateZ(0);
  will-change: transform;
  box-sizing: border-box;
}

.lm-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--color-cream);
  text-decoration: none;

  font-size: 30px;
  line-height: 1;

  transition: color var(--transition2);
}

.lm-item:active {
  color: var(--color-teal-light);
}

.lm-item:hover {
  color: var(--color-teal-light);
}

@supports not (padding-bottom: env(safe-area-inset-bottom)) {
  .lower-menu {
    position: fixed;
    bottom: 48px !important;
    padding-bottom: 0 !important;
  }
}

@media (min-width: 786px) {
  .lower-menu { 
    height: 65px;
   }
}


@media (min-width: 992px) {
  .lower-menu { 
    display: none;
   }
}
