.navbar-desktop { display: none;}

@media (min-width: 992px) {
  .navbar-desktop {
    display: block;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100;
    height: 60px;
    background: var(--color-teal);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }

  .nav-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    gap: 24px;
  }

  .brand {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
  }
  .brand-logo {
    width: 55px;
    height: 55px;
    object-fit: contain;
  }
  .brand-text {
    font-family: var(--font-logo);
    color: #fff;
    font-size: 28px;
    transition: color var(--transition);
  }

  .brand-text:hover { color: var(--color-sky-1);}
  
  .menu {
    display: inline-flex;
    align-items: center;
    gap: 20px;
  }

  .menu-item {
    font-family: var(--font-main);
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 10px;
    transition: color var(--transition), background-color var(--transition);
    border-radius: 8px;
  }
  .menu-item:hover {color: var(--color-sky-1); }

  .menu-item.accent {
    background: var(--color-teal-light);
    color: var(--color-teal-dark);
    font-weight: 700;
    border-radius: 100px;
    padding: 8px 20px;
  }
  
  .menu-item.accent:hover { background: color-mix(in srgb, var(--color-teal-light) 75%, #ffffff); }
}

.user-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-greet {
  color: var(--color-sky-1);
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.user-greet:hover {
  text-decoration: underline;
}

.logout-btn-nav {
  background: var(--color-teal-dark);
  color: var(--color-sky-1);
  border: none;
  text-transform: uppercase;
  border-radius: 99px;
  padding: 8px 18px;
  font-weight: 700;
  transition: all 0.3s;
}

.logout-btn-nav:hover {
  opacity: 0.7;
}