.app-bg {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
     #f84f00ec 0%,
    var(--color-cream) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 320px;
}

.title {
  flex-basis: 100%;
  font-size: 20px;
  color: var(--color-text-light);
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 15px 10px 15px;
}

.location {
  display: flex;
  justify-content: center;
  font-size: 9px;
  list-style: none;
  line-height: 150%;
  font-weight: 300;
  padding: 0;
  gap: 3px;
  color: var(--color-text-light);
  margin: 10px 5px 0px;
}

.location .active {
  font-weight: 600;
  font-size: 11px;
}

.page-enter {
  opacity: 0;
  transform: translateY(10px);
}
.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.page-fade-wrapper {
  min-height: calc(100vh - 60px);
}

@media (max-width: 360px) {

  .location {
    font-size: 8px;
  }
  .location .active {
    font-size: 9px;
  }

  .title {
    font-size: 18px;
    margin: 20px 5px 10px;
  }

  .back-btn {
   padding: 15px 2px!important;
  }

  .back-btn svg {
    width: 30px!important;
    height: 30px!important;
  }
}

@media (min-width: 992px) {

  .title {
  font-size: 30px;
  letter-spacing: 2px;
  margin: 20px 10px 20px;
}

}