.app-bg {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
     #f84f00ec 0%,
    var(--color-cream) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 320px;
}

.title {
  flex-basis: 100%;
  font-size: 20px;
  color: var(--color-text-light);
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 10px 15px;
}

.title svg {
  vertical-align: top!important;
}

.location {
  display: flex;
  justify-content: center;
  font-size: 9px;
  list-style: none;
  line-height: 150%;
  font-weight: 300;
  padding: 0;
  gap: 3px;
  color: var(--color-text-light);
  margin: 10px 5px 0px;
}

.location .active {
  font-weight: 600;
  font-size: 11px;
}

.page-enter {
  opacity: 0;
  transform: translateY(10px);
}
.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.page-fade-wrapper {
  min-height: calc(100vh - 60px);
}

select,
textarea {
  -webkit-appearance: none !important;
  appearance: none !important;
  border-radius: 0;
  font-family: inherit;
  color: inherit !important;
  -webkit-text-fill-color: inherit !important;
}
button.counter-btn {
  color: inherit!important;
}

input  {
 color: inherit !important;
}

input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  -webkit-text-fill-color: inherit !important;
}

/* * {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
} */

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-cream) inset !important;
  -webkit-text-fill-color: inherit !important;
}

select {
  background-image: none !important;
}

input[type="date"] {
  color: inherit !important;
  -webkit-text-fill-color: inherit !important;
}

html, body {
  color: inherit;
}
input[type="date"] {
  width: 100%;
  box-sizing: border-box !important;
  background-color: transparent!important;
  -webkit-appearance: none;
  appearance: none;
  padding-right: 0;
}


@media (max-width: 360px) {

  .location {
    font-size: 8px;
  }
  .location .active {
    font-size: 9px;
  }

  .title {
    font-size: 18px;
    margin: 20px 5px 10px;
  }

  .back-btn {
   padding: 15px 2px!important;
  }

  .back-btn svg {
    width: 30px!important;
    height: 30px!important;
  }
}

@media (min-width: 768px) {

  .title {
  font-size: 26px;
  letter-spacing: 2px;
  margin: 25px 10px 20px;
}
}

@media (min-width: 992px) {

  .title {
  font-size: 30px;
  letter-spacing: 2px;
  margin: 25px 10px 20px;
}

.location {
  display: flex;
  justify-content: left;
  font-size: 16px;
  list-style: none;
  line-height: 150%;
  font-weight: 300;
  padding: 0;
  gap: 10px;
  color: var(--color-text-light);
  margin: 20px 10px 0px 70px;
  cursor: default;
}

.location .active {
  font-weight: 700;
  font-size: 20px;
}

}