@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaushan+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main), Roboto, sans-serif;
}

main {
  padding-top: 50px;
  padding-bottom: 90px;
}

:root{
/* Kolory*/
--color-teal: #007389;
--color-teal-light: #00BFD2;
--color-teal-dark: #023D4D;
--color-orange:  #F84F00;
--color-sand:    #FED59F;
--color-cream:   #FAF6DD;
--color-sky-1:   #7FE0EB;
--color-sky-2:   #e0feff7e;
--color-gray-light:#dadbdb;
--color-gray-medium:#777B7B;
--color-text-light: #ffffff;
/* --color-text-medium: #A1A4A4; */
--color-text-medium: #567;
--color-text-dark:  #333333;


/* Typografia */
--font-main:   'Josefin Sans', sans-serif;
--font-logo: 'Kaushan Script', cursive;

/* Inne */
--radius-md: 12px;
--transition: 180ms ease;
--transition2: 0.3s ease;
}

@media (min-width: 992px) {
  main {
    padding-top: 60px;
    padding-bottom: 0;
  }
}